.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }
  
  .container-fluid {
    margin: 20px;   
  }

  body {
    background-color: azure !important;     

  }

  .accordion {
    margin-right: 50px;
  }
  